<div class="table-responsive">
    <table class="table m-0">
        <thead>
            <tr>
                <th scope="col">ردیف</th>
                <th scope="col">تاریخ شروع</th>
                <th scope="col">تاریخ اتمام</th>
                <th scope="col">ساعت شروع</th>
                <th scope="col">ساعت اتمام</th>
                <th scope="col">وضعیت</th>
            </tr>
        </thead>
        <tbody>
            <% periods.forEach(function(period) { %>
                <tr  id="<%= period._id %>">
                    <th scope="row"><%= periods.indexOf(period) + 1 %></th>
                    <td><%= period.startDate %></td>
                    <td><%= period.endDate %></td>
                    <td><%= period.startTime %></td>
                    <td><%= period.endTime %></td>
                    <% if (period.isActive ===true) { %>
                        <td class="text-success">فعال</td>
                    <% } else if(period.isActive === false) {%>
                        <td class="text-danger  ">غیرفعال</td>
                    <% } %>                    <td>
                        <!-- Call to action buttons -->
                        <ul class="list-inline m-0">
                            <li class="list-inline-item">

                                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="<%= '#exampleModal' + period._id %>">
                                    <i class="fa fa-trash"></i>
                                  </button>
                            </li>
                        </ul>
                    </td>
                </tr>

                <!-- Modal -->
                <div class="modal fade" id="<%= 'exampleModal' + period._id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">حذف</h1>
                        </div>
                        <div class="modal-body">
                        آیا از حذف بازه زمانی مطمئن هستید؟
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">لغو</button>

                        <form action="<%= '/period/delete/' + period._id %>" method="DELETE">
                            <button id="<%= 'btnDelete' + periods.indexOf(period) %>" class="btn btn-danger" type="submit" data-toggle="tooltip" data-placement="top" title="Delete">بله</button>
                        </form>

                        </div>
                    </div>
                    </div>
                </div>
                
              <% }); %>
        </tbody>
    </table>

</div>
